body{
    background-image: url(../img/background2.jpg);
    background-size: cover;
}

footer{
    width: 100%;
    text-align: center;
    align-self: flex-end;
    height: 105px;
}

#columna1{
    background-color: darkred;
    width: 50%;
    height: 50%;
}

#columna2{
    background-color: rgb(71, 62, 67);
    opacity: .50;
    width: 50%;
    height: auto;
    text-align: center;
}

#columna2::before{
    content: "";
    position: absolute;
    z-index: -1;
    color: white;
    opacity: .99;
}

.parrafocolumna2{
    color: white;
}
